<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bakalarka">
    <!-- Kamera -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Mqtt Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bakalarka">
        <activity android:name=".activities.AddSensor"/>
        <activity android:name=".activities.charts.linechart.TemperatureLineChartActivity" />
        <activity android:name=".activities.charts.linechart.HumidityLineChartActivity" />
        <activity android:name=".activities.charts.linechart.VocLineChartActivity" />
        <activity android:name=".activities.charts.linechart.PressureLineChartActivity" />
        <activity android:name=".activities.roomSettings.RoomSettingsActivity" />
        <activity android:name=".activities.roomSettings.RoomSetConditions" />
        <activity android:name=".activities.overview.OverviewAllRoomsActivity" />
        <activity android:name=".activities.overview.OverviewRiskyRoomsActivity" />
        <activity android:name=".activities.overview.basic.OverviewActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- QR Code Scanner -->
        <activity android:name=".data.qrCodeScan.QRCodeScanner" />
        <!-- Nastavenie kamery pri skenovaní -->
        <activity
            android:name=".activities.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="Instantiatable" />
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>